@charset "UTF-8";

body {
	font-size: 16px;
	background: #ececec;
	font-family: 'Poppins', sans-serif;
}

/*****************************
********************** HEADER
*****************************/
#container-header {
	background: url("../img/background/header-bg.jpg") no-repeat;
	background-size: cover;	
}
#container-header .row:first-child {
	border-bottom: #6ab04c 3px solid;	
}
#container-header .header-information, #container-header .section-title a {
	color: white;		
}
#container-header .section-title a{
	text-decoration: none;	
}
#container-header .section-user i {
	color: #6ab04c;	
	font-size: 36px;
	font-weight: bolder;	
}
#container-comparaison .comparaison-titre {
	text-align: center;
	background: red;
}
#container-comparaison .comparaison-map {
	max-width: 600px;	
}
#container-comparaison #canvasMap{    
	height : 320px;
	position: absolute;
    width : 320px;    
	z-index: 50;
}
#container-comparaison #legende {
	font-size: 12px;
	color: #990000;
	font-weight: bold;
	z-index: 100;
	margin-bottom: 30px;
	background-color: #FFFFFF;
	position: absolute;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 4px;	  
}

.breadcrumb .breadcrumb-item  {
	color: grey;
}
.topnav {
  position: relative;
  overflow: hidden;
  background-color: #333;
  height: 30px;
  width: 100%;
}

.topnav li {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}
.topnav li.active {
  background-color: #04AA6D;
  color: white;
}

.topnav-centered ol {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.topnav-centered li {
  display: inline-block;
}

/********************************
*************************** BODY
********************************/



/********************************
*************************** FOOTER
********************************/
#container-footer {
	border-top: #6ab04c 6px solid;
	background: url("../img/background/footer-bg.jpg") no-repeat fixed;
	background-size: cover;
	color: white;	 
}
#container-footer .row {
	background-color: rgba(31,22,19,.7);
}

#container-footer .footer-presentation {
	text-align: justify;
  	text-justify: inter-word;
}
#container-footer ul {
	list-style: none;
}
#container-footer ul h2, #container-footer .footer-presentation img {
	padding: 70px 0 20px 0;
}
#container-footer ul h2 {
	border-bottom: rgba(255,255,255, 0.5) 1px solid;
	color: #6ab04c;
	font-size: 18px;
	font-style: none;	
	text-transform: uppercase; 
}
#container-footer a {
	color: white;
	text-decoration: none;	
}
#container-footer a:hover {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;	
}

/*****************************
********************** ERROR PAGES
*****************************/
#container-error {
	min-height: 400px;	
}
.error_img {
	height: 250px;
	left: 42%;
	opacity: 0.2;
	position: absolute;	
}